nav {
    min-height: 100vh;
    border-right: 3px solid $theme-blue;
    overflow-x: hidden;

    #nav--initial {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 3px solid $theme-blue;

        span {
            position: relative;
            margin: 15px 0 0;
            color: $theme-blue;
            font-size: 106px;
            font-weight: 600;
            text-align: center;
        }

        sup {
            position: absolute;
            left: 34px;
            top: 54px;
            font-size: 31px;

            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                top: 55px;
                font-size: 36px;
            }
        }
    }

    #nav--list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 0;
        font-weight: 600;

        li {
            display: block;
            width: 100%;
            margin: 20px 0;
            text-align: center;

            a {
                display: block;
                width: 100%;

                span {
                    padding: 8px 0;
                    border-bottom: 2px solid transparent;
                    transition: .5s;
                }
            }

            &:hover a span {
                border-bottom: 2px solid $theme-blue;
            }

            &:last-child {
                width: calc(100% + 4px);
                padding: 0;
                border: 2px solid $theme-blue;
                margin-top: 30px;
                margin-left: -1px;
                font-weight: 700;
                transition: .5s;
                @include radius-style(10px);

                a {
                    padding: 10px 0;
                }

                &:hover {
                    background-color: $theme-blue;
                }
            }
        }
    }

    #nav--social {
        display: flex;
        justify-content: center;
        margin: 0 10px;

        a {
            padding: 10px 25px;
            color: $theme-blue;
            font-size: 20px;
            
            &:hover {
                color: $white;
                transition: .5s;
            }
        }
    }
}

.site-overlay:hover {
    cursor: pointer;
} 

// Override Pushy styles
.pushy {
    overflow-x: hidden;
    
    a {
        padding: 0;
    }
}