#about-me {
    width: 100%;

    &--content {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 60px auto 40px;

        @include mq('lg') {
            width: 80%;
        }
    }

    &--description {
        order: 1;
        width: 100%;

        @include mq('md') {
            order: 2;
            width: calc(100% - 200px);
            padding-left: 30px;
            border-left: 3px solid $theme-blue;
        }

        @include mq('lg') {
            width: calc(100% - 400px);
            padding-left: 50px;
        }

        h2 {
            margin-top: 0;
            font-size: 36px;
        }
    }

    &--img {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        @include mq('md') {
            order: 1;
            flex-direction: column;
            justify-content: flex-start;
            width: 200px;
            padding-right: 30px;
        }

        @include mq('lg') {
            width: 400px;
            padding-right: 50px;
        }

        img {
            flex-shrink: 0;
            width: 45%;
            border-radius: 5px;

            @include mq('md') {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }

    &--contact {
        order: 3;

        @include mq('md') {
            margin-left: 233px;
        }

        @include mq('lg') {
            margin-left: 453px;
        }

        span {
            display: inline-block;
            margin-top: 30px;
            font-size: 20px;

            @include mq('xl') {
                margin-top: 50px;
                font-size: 24px;
            }
        }
    }

    a {
        color: $theme-blue;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }
}