#examples {
    width: 100%;

    &--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto 40px;

        @include mq('lg') {
            width: 80%;
        }

        & > div:not(:last-child) {
            border-bottom: 3px solid $theme-blue;
            margin-bottom: 20px;     
        }
    }

    &--js,
    &--sass,
    &--sql,
    &--cs,
    &--unity {
        width: 100%;
        padding: 0 20px 20px;
    }

    .show-desc {
        display: flex;
        align-items: center;
        width: 90%;
        padding: 20px 20px;
        margin: auto;
        background-color: $bg-nav;
        transition: background-color .5s;

        @include mq('xs') {
            width: 100%;
        }

        h3 {
            display: inline-block;
            margin: 0 0 0 20px;
        }

        i {
            transform: rotate(0deg);
            transform-origin: center;
            transition: transform .5s;
        }

        &:hover {
            background-color: $theme-blue;
            cursor: pointer;
        }
    }

    .examples-desc {
        width: 80%;
        margin: auto;

        @include mq('xs') {
            width: 90%;
        }

        &--img {
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                min-width: 1px;
                max-width: 100%;
            }
        }

        &--link {
            color: $theme-blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .example-links {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 97px;

        .repo-link {
            margin-left: 20px;
            color: $white;
            font-size: 30px;
            transition: .5s;

            &:hover {
                color: $theme-blue;
            }
        }
    }

    pre {
        display: flex;
        justify-content: center;
        width: min-content;
        max-width: 100%;
        margin: 16px auto;
        background-color: $bg-nav;
        overflow-x: auto;
        @include radius-style;
    }

    .code-block {
        align-self: center;
        max-width: 100%;
        padding: 20px;
    }

    code {
        display: inline-block;
        padding: 0 10px;
        background-color: $bg-nav;
        @include radius-style;
    }

    .code-diagram {
        display: flex;
        justify-content: center;
        width: min-content;
        max-width: 100%;
        margin: 16px auto;
        overflow-x: auto;

        img {
            align-self: center;
            min-width: 100%;
            padding: 20px;
        }
    }
}
