#projects {
    width: 100%;
    margin-bottom: 50px;

    &--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        margin: auto;

        .project {
            max-width: 415px;
            margin-bottom: 50px;

            &--img {
                display: flex;
                justify-content: center;
                overflow: hidden;
                max-width: 100%;
                border-radius: 5px;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                transition: box-shadow .5s;

                img {
                    height: 100%;
                    opacity: 1;
                    transform-origin: top;
                    transition: all .5s;
                }
            }

            h2 {
                font-size: 28px;
            }

            &--view {
                font-size: 16px;

            }

            i {
                margin-left: 10px;
                font-size: 14px;
            }

            &:hover {
                color: $text-highlight;

                .project--img {
                    box-shadow: 0 0 20px rgba(0, 0, 0, .8);

                    img {
                        opacity: .5;
                        transform: scale(1.05);
                    }
                }
            }

            @include mq('xs') {
                width: 100%;
                max-width: 100%;

                .project--img img {
                    width: 100%;
                }
            }

            @include mq('sm') {
                width: 48%;

                .project--img img {
                    width: 100%;
                }
            }

            @include mq('md') {
                .project--img img {
                    width: initial;
                    height: 300px;
                }
            }

            @include mq('lg') {
                width: 32%;
            }

            @include mq('xl') {
                max-width: 500px;

                .project--img img {
                    width: 100%;
                    height: initial;
                }
            }
        }
    }
}
