#projects {
    width: 100%;

    &--content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        margin: auto;

        @include mq('lg') {
            width: 80%;
        }

        .project {
            margin-bottom: 50px;

            &--img {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                overflow: hidden;
                width: 100%;
                border-radius: 5px;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                transition: box-shadow .5s;

                img {
                    flex-shrink: 0;
                    width: 100%;
                    opacity: 1;
                    transform-origin: top;
                    transition: all .5s;
                }
            }

            @include mq('xs') {
                width: 100%;
            }

            @include mq('sm') {
                width: 48%;

                .project--img {
                    max-height: 300px;
                }
            }

            @include mq('lg') {
                width: 32%;
            }

            h2 {
                font-size: 28px;
            }

            &--view {
                font-size: 16px;

            }

            i {
                margin-left: 10px;
                font-size: 14px;
            }

            &:hover {
                color: $text-highlight;

                .project--img {
                    box-shadow: 0 0 20px rgba(0, 0, 0, .8);

                    img {
                        opacity: .5;
                        transform: scale(1.05);
                    }
                }
            }

            
        }
    }
}
