#scs-info,
#treehouse-netmatters {
    width: 100%;

    &--content {
        width: 90%;
        margin: auto;

        @include mq('lg') {
            width: 80%;
        }
    }
}

#scs-info--content {
    width: 80%;
    margin-bottom: 40px;

    @include mq('xs') {
        width: 90%;
    }

    @include mq('md') {
        width: 70%;
    }

    @include mq('lg') {
        width: 60%;
    }
}

#treehouse-netmatters--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    #treehouse, #netmatters {
        width: 100%;
        padding: 0 20px 20px;
        margin-bottom: 40px;
        border-radius: 5px;
        background-color: $bg-nav;
        box-shadow: 0 0 20px rgba(0, 0, 0, .5);

        @include mq('md') {
            width: 48%;
            padding: 0 40px 20px;
        }
    }

    .treehouse-netmatters--img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100px;
        margin: 20px;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    p, li {
        font-size: 18px;
        line-height: 1.8em;

        @include mq('md') {
            font-size: 16px;
        }

        @include mq('xl') {
            font-size: 20px;
        }
    }

    a {
        color: $theme-blue;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    #netmatters ul {
        list-style: inside;
    }
}