.wrapper {
    display: flex;
    height: 100vh;
    max-height: 100vh;

    nav {
        order: 1;
        overflow-y: auto;
        flex: 0 0 200px;
        max-height: 100%;
        background-color: $bg-nav;
        
        @include mq('xs') {
            display: none;
        }
    }

    main {
        order: 2;
        overflow-y: auto;
        width: 100%;
        max-height: 100%;
        background-color: $bg-body;

        #scroll-up {
            display: block;
            margin: 50px 0 20px;
            text-align: center;
            text-shadow: 2px 2px 5px $bg-body;
    
            span {
                margin-top: 10px;
                font-size: 20px;
            }
    
            .fa-chevron-up {
                font-size: 24px;
            }
        }
    }
}