* {
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    color: $text-primary;
}

h1 {
    margin: 10px 0;
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}