* {
    box-sizing: border-box;
}

body {
    color: $white;
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 10px 0;
    font-weight: 600;
    text-align: center;
    text-shadow: 2px 2px 5px $bg-body;

    @include mq('xs') {
        font-size: 56px;
    }

    @include mq('sm') {
        font-size: 72px;
    }

    @include mq('md') {
        font-size: 56px;
    }

    @include mq('lg') {
        font-size: 64px;
    }
}

p {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 1.8em;

    @include mq('xl') {
        font-size: 24px;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding-left: 0;
}