// Fonts
$font-stack: 'Poppins', 'Helvetica', 'Arial', sans-serif;

// Colours
$white: #fff;
$text-primary: #252c46;
$text-highlight: #a9abb2;
$text-input: #8b8c8c;
$theme-blue: #53b2cb;
$bg-input: #dadbdd;