// Media query breakpoints map
$breakpoints: (
    'xs': 767px,
    'sm': 768px,
    'md': 1024px,
    'lg': 1281px,
    'xl': 1921px
);

// Fonts
$font-stack: 'Comfortaa', 'Helvetica', 'Arial', sans-serif;

// Colours
$white: #dddddd;
$text-highlight: #a9abb2;
$theme-blue: #21569b;
$bg-body: #1b1e22;
$bg-nav: #16171a;
$bg-input: #dadbdd;